@model GraphicsDetective.Models.ImagesResultModel
@{
    ViewBag.Title = "Toon uploads";
}

<h3>@ViewBag.Message</h3>

@foreach (var image in Model.Images)
{
    if (image.IsThumb)
    {
        <b>This is a thumbnail:</b>
        <p><img src="@image.ImageUri" height="100"/>
        </p>
    }
    else
    {
        <p><img src="@image.ImageUri" height="200" /></p>
    }

}
 